body{
    background:#f4f6f9;
    font-family:Arial, Helvetica, sans-serif;
}

.card{
    border-radius:12px;
}

.card-header{
    border-radius:12px 12px 0 0 !important;
}

.btn{
    margin-right:5px;
}